
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "global.scss";
@import "blocks/app.scss";
@import "container.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/camera.scss";
@import "blocks/preview.scss";
@import "blocks/output-desk.scss";
@import "blocks/scan.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

@import "blocks/error-screen.scss";
