.additional-goods {
  margin-bottom: 35px;
  padding-top: 30px;
}

.additional-goods__header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::after {
    content: "";

    margin-right: -20px;
    margin-left: 22px;
    margin-top: 4px;
    flex-grow: 1;
    flex-shrink: 0;

    width: 25px;
    height: 3px;
    background-color: $light-green;
  }
}

.additional-goods__list {
  @include list-reset();

  margin-bottom: 39px;
}

.additional-goods__item {
  display: flex;
  flex-direction: column;

  padding-top: 15px;
  padding-bottom: 17px;

  border-top: 1px solid $separator-light;

  &:last-child {
    border-bottom: 1px solid $separator-light;
  }
}

.additional-goods__title {
  margin: 0;
  padding: 0;

  margin-bottom: 11px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  color: #222222;
  text-transform: uppercase;
}

.additional-goods__table {
  margin-bottom: 15px;
  border-collapse: collapse;
  font-family: $second-font, sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: grey;
}

.additional-goods__data {
  padding: 0;

  &:last-child {
    text-align: right;
  }
}

.additional-goods__button {
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  text-align: center;
}

.additional-goods__promo-link {
  display: flex;
  align-items: stretch;
  margin-bottom: 35px;

  padding-bottom: 42px;
  flex-grow: 1;
  background-color: $light-green;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.additional-goods__promo-text {
  position: relative;
  display: block;
  width: 170px;

  margin: 0 auto;
  padding-top: 187px;
  font-family: $second-font, sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: $white;

  text-align: center;
}

.additional-goods__svg {
  &--gift {
    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding-top: 9px;
  }

  .additional-goods__header {
    position: relative;
    display: block;
    font-size: 36px;
    line-height: 36px;
    margin-left: 37px;
    padding-bottom: 0;
    margin-bottom: 78px;

    &::before,
    &::after {
      content: "";
      position: absolute;

      top: 50%;
      transform: translateY(-50%);

      margin-top: 2px;
      height: 3px;
      background-color: $light-green;
    }

    &::before {
      margin-top: 4px;
      left: calc(-50vw + 50% - 37px);
      right: calc(100% + 40px);
    }

    &::after {
      transform: translateY(-5px);
      margin-top: 7px;
      margin-left: 37px;
      width: 100vw;
    }
  }

  .additional-goods__list {
    margin-bottom: 69px;

    border-left: 1px solid $separator-light;
    border-right: 1px solid $separator-light;
  }

  .additional-goods__item {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 37px;
    padding-right: 36px;
  }

  .additional-goods__title {
    font-size: 20px;
    line-height: 20px;

    margin-bottom: 25px;
  }

  .additional-goods__button {
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .additional-goods__table {
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__data {
    padding-top: 3px;

    &--right {
      width: 95px;
    }
  }


  .additional-goods__promo-link {
    position: relative;
    padding-left: 424px;
    padding-top: 73px;
    padding-bottom: 67px;
    margin-bottom: 76px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .additional-goods__promo-text {
    position: static;
    width: 170px;
    margin: 0;
    padding-top: 0;

    font-size: 16px;
    line-height: 20px;

    text-align: left;
  }

  .additional-goods__svg {
    &--gift {
      top: 95px;
      left: 91px;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 15px;
    margin-bottom: 85px;
  }

  .additional-goods__header {
    margin-left: 0;
    margin-bottom: 80px;
  }

  .additional-goods__list {
    width: 895px;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .additional-goods__item {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .additional-goods__title {
    width: 326px;
    margin-bottom: 0;
  }

  .additional-goods__table {
    //width: 280px;
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .additional-goods__data {
    &:last-child {
      text-align: left;
    }

    &--left {
      width: 243px;
      text-align: left;
    }

    &--right {
      width: 80px;
      text-align: left;
    }
  }

  .additional-goods__button {
    width: 245px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__promo-link {
    flex-grow: 0;
    width: 245px;
    //height: 290px;
    margin: 0;
    padding: 0;
    padding-top: 143px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .additional-goods__promo-text {
    margin: auto;
    text-align: center;

    &::before {
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
