.features {
  margin-bottom: 42px;
}

.features__title {
  margin-top: 10px;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.features__list {
  margin: 0;
  padding: 0;

  margin-bottom: 45px;

  @include list-reset();
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;

    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $light-green;

    background-position: center;
    background-repeat: no-repeat;
  }

  &--useful {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--hight-calorie {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--fast-result {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px auto;
      }
    }
  }
}

.features__description {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;

  padding-left: 80px;

  font-family: $second-font, sans-serif;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 44px;

    &::after {
      display: block;
      content: "";
      width: 100%;
      border-bottom: 1px solid $separator-light;
    }
  }

  .features__title {
    margin-top: 0;
    margin-bottom: 37px;

    font-size: 60px;
    line-height: 60px;
  }

  .features__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -140px;
  }

  .features__item {
    width: 245px;
    min-height: 230px;
    margin-top: 32px;
    margin-bottom: 55px;
    margin-left: 140px;

    &::before {
      top: 0;
      right: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "0";
      padding: 0;
      margin: 0;
      position: absolute;

      top: -40px;
      right: 0;

      font-size: 281px;
      line-height: 281px;
      color: $white-grey-bg;
    }

    &--useful {
      &::after {
        content: "1";
        right: 15px;
      }
    }

    &--powder {
      &::after {
        content: "2";
        right: 0;
      }
    }

    &--hight-calorie {
      &::after {
        content: "3";
        right: -2px;
      }
    }

    &--fast-result {
      &::after {
        content: "4";
        right: -2px;
      }
    }
  }

  .features__description {
    padding-top: 112px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 25px;

    &::after {
      width: 0;
      border: none;
    }
  }

  .features__list-wrapper {
    margin-left: -80px;
  }

  .features__item {
    margin-left: 80px;

    &::after {
      top: -39px;
    }

    &--useful {
      &::after {
        right: 15px;
      }
    }

    &--hight-calorie {
      &::after {
        right: 1px;
      }
    }

    &--fast-result {
      &::after {
        right: -5px;
      }
    }
  }
}
