.inner-page__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  margin: 0;
  padding-top: 17px;
  padding-bottom: 25px;
}

.inner-page__description {
  margin: 0;
  padding: 0;

  margin-bottom: 36px;

  text-transform: uppercase;
}

.inner-page .page-main {
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .inner-page__title {
    padding-top: 61px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 0;
    margin-bottom: 82px;
    border: none;
  }

  .inner-page__description {
    margin-top: -28px;
    margin-bottom: 63px;
    width: 330px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .inner-page__title {
    padding-top: 49px;
    margin-bottom: 82px;
  }
}
