.intro {
  color: $white;
  border-bottom: 1px solid transparent;
}

.intro__mobile-bg {
  position: relative;
}

.intro__mobile-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 175px;
  z-index: -1;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.intro__header {
  padding-top: 27px;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  text-align: center;
}

.intro__slogan {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  text-transform: uppercase;
}

.intro__image-wrapper {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  align-self: center;
}

.intro__image {
  display: block;
}

.intro__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 0;
    color: $almost-black;
  }

  .intro__mobile-bg::before {
    background-color: transparent;
    background-image: none;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
  }

  .intro__title {
    margin-left: 87px;
    margin-top: 33px;
    margin-bottom: 40px;
    max-width: 490px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan {
    margin-left: 88px;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;

    text-align: left;
  }

  .intro__image-wrapper {
    order: 2;
    align-self: flex-end;
  }

  .intro__image {
    display: block;
    width: 709px;
    position: relative;
    z-index: -1;
    margin-top: -80px;
  }

  .intro__button {
    margin-left: 89px;
    z-index: 2;
    align-self: flex-start;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 26px;
    padding-right: 28px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
    min-height: 555px;
  }

  .intro__wrapper {
    position: relative;
  }

  .intro__header {
    padding-top: 0;
  }

  .intro__title {
    margin-top: 80px;
    margin-left: 80px;
    max-width: 415px;
  }

  .intro__slogan {
    margin-left: 80px;
    margin-bottom: 54px;
    max-width: 450px;
  }

  .intro__image-wrapper {
    position: absolute;
    top: 0;
    left: 450px;
    margin: 0;
  }

  .intro__image {
    margin-top: 0;
    width: 552px;
  }

  .intro__button {
    max-width: 450px;
    margin-left: 80px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-right: 29px;
  }
}
