.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  margin-left: -20px;
  margin-right: -20px;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 2;

  width: 24px;
  height: 18px;
  font-size: 0;

  border: 0;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: #111111;
  box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111;
}

.main-nav--opened .main-nav__toggle {
  content: "";

  position: absolute;
  top: 21px;
  right: 0;

  width: 23px;
  height: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 10px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $almost-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__list {
  @include list-reset();
}

.main-nav__item {
  border-top: 1px solid $separator-light;
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
  color: $almost-black;

  font-family: $base-font, $second-font, sans-serif;
  font-weight: 500;

  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    margin-left: auto;
    align-items: center;

    margin-top: 5px;
  }

  .main-nav__wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    margin-left: 36px;
    border: none;
  }

  .main-nav__item--active {
    border-bottom: 2px solid $light-green;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;
  }

  .main-nav__wrapper {
    margin-left: auto;
  }

  .main-nav__list {
    flex-wrap: wrap;
  }

  .main-nav__item {
    margin-left: 34px;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 25px;

    padding-top: 8px;

    color: $grey;
  }

  .inner-page .main-nav__link {
    color: $almost-black;
  }

  .main-nav__item--active {
    border-color: $white;
  }

  .inner-page .main-nav__item--active {
    border-bottom: 2px solid $light-green;
  }
}
