.table {
  border-collapse: collapse;
  font-family: $second-font, sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $grey;
}

.table__field {
  padding: 0;
  margin: 0;
}

.table__value {
  text-align: right;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .table {
    font-size: 16px;
    line-height: 16px;
  }

  .table__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .table__field,
  .table__value {
    padding-top: 9px;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .table__field,
  .table__value {
    padding-top: 9px;
    padding-bottom: 7px;
  }
}
