.output-desk {
  margin-left: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%;
}
.output-desk__title {
  text-align: center;
  font-size: 16px;
}

.output-desk__table {
  border: 2px solid grey;
  border-collapse: collapse;
  font-size: 10px;
  table-layout:fixed;
  width:100%;
}

.output-desk__table td,
.output-desk__table th {
  padding: 2px 3px 3px 3px;
  text-align: center;
  border: 2px solid grey;
  word-break: break-all;
}

td.output-desk__predict-title {
  text-align: left;
}


@media (min-width: $tablet-width) {
  .output-desk__table {
    font-size: 14px;
  }
}
@media (min-width: $desktop-width) {
  .output-desk__table {
    font-size: 16px;
  }
}